body {
    margin: 0;
    min-width: 740px;
    overflow: auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow: hidden;
}

.main > * {
    border: 1px solid #e2e2e2;
}

* {
    box-sizing: border-box;
}